.side-bar
{
    position:fixed;
    left:0px;
    bottom:0px;
    top:55px;
    background-color:white;
    z-index:10001;
    padding-top:5px;
}
.sidebar-link
{
    height:74px;
    width:80px;
    margin-right:10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}
.sidebar-link:hover
{
    background-color:rgb(235, 234, 234);
}
.sidebar-link img
{
    height:24px;
    margin-bottom:4px;
}
.sidebar-link div
{
    font-family:roboto, sans-serif;
    font-size:10px;
}